<html>
  <body>
    <h1>Failed Slack Invite</h1>
    <p> Hi @ops team! 👋</p>
    <p>I have failed to invite <%= @user.email %> to Slack :sadge:</p>
    <p>pls do invite them yourself</p>

   <p>disapointment log:</p>
   <pre><code><%= @error %></code></pre>
  </body>
</html>
