<html>
<body>
  <h1>New User Signup</h1>
  <p> Hi @ops team! 👋</p>
  <p> A new user has signed up for Phish Directory.</p>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>ID: <%= @user.pd_id %></p>
</body>
</html>
