<html>
<body>
  <h1>Username Conflict</h1>
  <p> Hi @ops team! 👋</p>
  <p> It looks like we have a username conflict for <%= @user.email %></p>
  <p>Thus I haven't been able to create a user for them. Please reach out to them! <p>
</body>
</html>
